<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b666b71e-1dcf-48a6-aab3-61755f43a561" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b666b71e-1dcf-48a6-aab3-61755f43a561fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>